.contact-info-link {
    text-decoration: none;
    color: rgb(49,112,142);
  }

.contact-link {
    width: 50px;
}

#contact-main {
    justify-content: center;
    margin: auto;
}

#contact-text {
    flex-direction: column;
}
.contact-name {
    font-size: 52px;
    color: rgb(49,112,142);
}
.links{
    display: flex;
}

@media only screen and (max-width: 767px) {
    .contact-name {
        font-size: 30px;
    }
}