* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif, 'Roboto Slab', serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* on hover for link images */
.grow { 
  transition: all .3s ease-in-out; 
}

.grow:hover {
  transform: scale(1.1); 
}

/* backgroung image home page */
.main {
  background-size: cover;
  height: 100vh;
}


/* each page first body layer */
.page-container {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  /* background-color: rgba(92, 151, 191, .25); */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.page-title {
  /* font-family: 'Raleway', sans-serif;  */
  font-size: 92px;
  color: rgb(49,112,142);
  margin: 0;
}
.page-header {
  display: flex;
  justify-content: space-around;
}
/* second layer on each page body  */
.text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2%;
  background-color: rgba(92, 151, 191, .25);
  padding: 2%;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

@media only screen and (max-width: 767px) {
  .page-container {
      flex-direction: column;
      align-items: center;
  }
  .page-title {
      text-align: center;
      font-size: 50px;
  }
  .wrapper {
    margin: 5% 0 20% 0;
  }
}
@media only screen and (max-width: 370px) {
    .page-title {
        font-size: 38px;
    }
}